@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Pushster&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

html,
body {
  /* display: flex; */
  /* flex-direction: column; */
  background: blanchedalmond;
  min-height: 100vh;
}

/* ---------------- Header ---------------- */
header {
  background: brown;
  padding: 20px 5%;
  width: 90%;
  border-bottom: 5px solid coral;
}

header .logo {
  font-family: "Pushster", cursive;
  font-size: 35px;
  color: cornsilk;
}

header input {
  float: right;
  border: 0;
  background: blanchedalmond;
  border-radius: 5px;
  padding: 5px 10px;
  width: 250px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

/* ---------------- Блок селектор фильтра ------------ */
nav {
  /* display: flex; */
  float: left;
  width: 90%;
  margin-top: 50px;
  text-align: center;
}

nav span {
  display: inline-block;
  /* flex-wrap: nowrap; */
  margin: 0 20px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  /* Выравниваем по центру (по вертикали), указываем line-height = height*/
  /* line-height: 30px; */
  /* background: #e79e6d; */
  background: #a52323;
  border: 2px solid coral;
  font-weight: 600;
  color: cornsilk;
  cursor: pointer;
  transition: all 200ms ease;
}

nav span:hover {
  cursor: pointer;
  background: #cc1f1f;
  transform: translateY(2px) translateX(2px);
  /* background: #e43f3f; */
}

/* ---------------- Main ---------------- */
main {
  width: 90%;
  padding: 50px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: width 700ms ease-in-out;
}

main .item {
  width: 380px;
  background: #f1d1a1;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;
}

main .item img {
  transition: transform 500ms ease;
}

main .item:hover img {
  transform: scale(1.05);
}

main .item h4 {
  font-weight: 600;
  font-size: 23px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #c20909;
}

.add-to-cart {
  position: absolute;
  top: 28px;
  right: 30px;
  font-size: 40px;
  color: #e43f3f;
  transition: color 500ms ease;
  cursor: pointer;
}

.add-to-cart:hover {
  /* The parameters are as follow:
matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
  transform: matrix(1.1, 0.1, -0.1, 1.1, 3, -3);
  color: #cc1f1f;
}

/* ---------------- Кнопка корзины общая ---------------- */
.shop-cart-button {
  position: fixed;
  bottom: 200px;
  left: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background: #a52323;
  border: 2px solid coral;
  color: cornsilk;
  cursor: pointer;
  transition: transform 500ms ease;
}

.shop-cart-button:hover {
  transform: scale(2) translateY(-10px);
}

/* указываем везде float: left, чтобы "блок покупок" получился справа */
main,
header,
footer,
aside {
  float: left;
}
/* ---------------- Блок покупок ---------------- */
/* Блок скрыт, если нет класса .active */
.shop-cart-block:not(.active) {
  /* transition: display 700ms ease-in-out; */
  display: none;
}

.shop-cart-block.active {
  /* transition: display 700ms ease-in-out; */
  animation: show 2s infinite;
  /* display: none; */
}

@keyframes show {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.shop-cart-block {
  /* float: left; */
  width: 20%;
  padding: 50px 5%;
  background: #fcd8a1;
}

.shop-cart-block h4 {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.shop-cart-block .titles {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-weight: 600;
}

/* чтобы наверняка работало на всех браузерах
  отображаем span, как блоки */
.shop-cart-block .titles span {
  display: block;
}

.shop-cart-block button.go-shop {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  /* border: 1px solid coral; */
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  /* Выравниваем по центру (по вертикали), указываем line-height = height*/
  line-height: 70px;
  /* background: #e79e6d; */
  background: #a52323;
  border: 2px solid coral;
  color: cornsilk;
  cursor: pointer;
  transition: background 500ms ease;
}

.shop-cart-block button.go-shop:hover {
  cursor: pointer;
  background: #cc1f1f;
  /* background: #e43f3f; */
}

/* ---------------- Корзина выбранных товаров ---------------- */
.shop-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

.shop-item .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70px;
}

.shop-item img {
  margin-bottom: 5px;
}

.shop-item .count {
  font-weight: 600;
}

.shop-item .count button {
  width: 30px;
  height: 30px;
  line-height: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  background: #a52323;
  border: 2px solid coral;
  border-radius: 50%;
  color: cornsilk;
  cursor: pointer;
  transition: background 500ms ease;
}

.shop-item .count button:hover {
  cursor: pointer;
  /* background: #cc1f1f; */
  background: #df3c3c;
}

.shop-item .count span {
  margin: 0 5px;
}

/* ---------------- Footer ---------------- */
footer {
  position: fixed;
  bottom: 0;
  padding: 20px 5%;

  width: 90%;
  border-top: 5px solid coral;
  background: #a52323;
  color: cornsilk;
  text-align: center;
  /* font-family: "Pushster", cursive; */
  /* font-size: 15px; */
}
